################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Identity/ecoShirts.Identity.Api/bin/Debug/netcoreapp3.1
/.vs/eHQ
/src/Identity/ecoShirts.Identity.Api/obj
/src/Produto/eHQ.Produto.Api/bin/Debug/netcoreapp3.1
/src/Produto/eHQ.Produto.Api/obj
/eHQ.Estoque.Api/bin/Debug/netcoreapp3.1
/eHQ.Estoque.Api/obj
/src/Estoque/eHQ.Estoque.Api/bin/Debug/netcoreapp3.1
/src/Estoque/eHQ.Estoque.Api/obj
/eHQ.Estoque.Api/bin/Debug/netcoreapp3.1
/eHQ.Estoque.Api/obj
/src/EventBus/eHQ.IntegrationEventLog
